<!-- 照片墙 -->
<div class="photo-wall">
  <!-- 麻绳 -->
  <div class="rope" id="rope"></div>
  
  <!-- 照片项（可复制多个） -->
  <div class="photo-item" style="left: 5%; top: 20px;">
    <div class="clip"></div>
    <div class="photo" style="background-image: url('https://picsum.photos/200/300?random=1');"></div>
  </div>
  <div class="photo-item" style="left: 25%; top: 25px;">
    <div class="clip"></div>
    <div class="photo" style="background-image: url('https://picsum.photos/200/300?random=2');"></div>
  </div>
  <div class="photo-item" style="left: 45%; top: 18px;">
    <div class="clip"></div>
    <div class="photo" style="background-image: url('https://picsum.photos/200/300?random=3');"></div>
  </div>
  <div class="photo-item" style="left: 65%; top: 22px;">
    <div class="clip"></div>
    <div class="photo" style="background-image: url('https://picsum.photos/200/300?random=4');"></div>
  </div>
  <div class="photo-item" style="left: 85%; top: 15px;">
    <div class="clip"></div>
    <div class="photo" style="background-image: url('https://picsum.photos/200/300?random=5');"></div>
  </div>
</div>